.custom-card {
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
}

.badge {
  font-weight: 400;
  font-size: 0.75rem;
  background-color: #f1f3f5 !important;
  color: #495057 !important;
  border: 1px solid #dee2e6;
}

.title-proyectos{
    color: #575757 !important;
}
.button-sabermas{
    border: 1px solid #c1c1c1 !important;
    color: #575757;
}

.button-sabermas:hover{
    background-color: #ff6060 !important;
    color: #fff !important;
}