<section class="container py-5" id="Proyectos-portafolio">
  <div class="row mb-4 text-center">
    <div class="col">
      <h2 class="border-bottom pb-2">Proyectos</h2>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let p of misProyectos">
      <div class="card h-100 shadow-sm custom-card">
        <div class="card-body">
          <h5 class="card-title fw-bold text-primary title-proyectos">{{ p.titulo }}</h5>
          <div class="mb-2">
            <span *ngFor="let t of p.tags" class="badge bg-secondary me-1">{{ t }}</span>
          </div>
          <p class="card-text text-muted">{{ p.desc }}</p>
        </div>
        <div class="card-footer bg-transparent border-0 pb-3 ">
          <a [href]="p.link" class="btn btn-sm btn-outline-primary button-sabermas">Saber más</a>
        </div>
      </div>
    </div>
  </div>
</section>